<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="common_html_head(title)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${title}">Universal converter</title>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css" th:href="@{/css/custom.css}"/>
</head>
<body>

<div th:fragment="common_page_header" class="container">
    <header class="page-header py-3">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a class="navbar-brand" href="/" th:href="@{/}">Universal Converter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarMeasureDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Measure</a>
                        <div class="dropdown-menu" aria-labelledby="navbarMeasureDropdown">
                            <a th:each="measureType : ${measureTypes}" class="dropdown-item"
                               href="convert/measure.html?type=LENGTH"
                               th:href="@{/convert/measure(type=${measureType})}"
                                th:text="${measureType}">Length</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="convert/date.html" th:href="@{/convert/date}">Date</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarTextDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Text</a>
                        <div class="dropdown-menu" aria-labelledby="navbarTextDropdown">
                            <a class="dropdown-item" href="convert/hash.html" th:href="@{/convert/hash}">Hash</a>
                            <a class="dropdown-item" href="convert/encode.html" th:href="@{/convert/encode}">Encode</a>
                            <a class="dropdown-item" href="convert/escape.html" th:href="@{/convert/escape}">Escape</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-primary my-2 my-sm-0 mx-1">Sign In</button>
                    <button class="btn btn-outline-success my-2 my-sm-0 mx-1">Sign Up</button>
                </form>
            </div>
        </nav>
    </header>
</div>

<main role="main" class="container">
    <h1>Welcome to the Universal Converter</h1>
    <p>Here you can convert several almost any data</p>
    <ul>
        <li>Measures
            <ul>
                <li>length</li>
                <li>weight</li>
                <li>and other types</li>
            </ul>
        </li>
        <li>Dates and intervals</li>
        <li>Texts and binary data
            <ul>
                <li>hash</li>
                <li>encode and decode</li>
                <li>escape and unescape</li>
            </ul>
        </li>
    </ul>
</main>

<div th:fragment="common_page_footer(links)">
    <footer class="page-footer bg-light mt-5">
        <p>Universal converter</p>
        <p><a href="#">Back to top</a></p>
    </footer>

    <!-- scripts (add here to load pages faster)-->
    <div id="additional-scripts">
        <script type="text/javascript" src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script type="text/javascript" src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </div>

    <!--/* more links if required */-->
    <th:block th:replace="${links}" />
</div>
</body>
</html>