<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="main.html :: common_html_head(~{::title})">
    <title>Text escaper</title>

    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<!-- header -->
<div th:replace="main.html :: common_page_header"></div>

<!-- main content -->
<div role="main" class="container">
    <h1>Escape data</h1>

    <div class="form-group row mx-2 mx-sm-0">
        <label for="source-value">Source data</label>
        <textarea id="source-value" class="form-control" placeholder="Input source data..."></textarea>
    </div>
    <div class="form-group row mx-2 mx-sm-0">
        <label for="escape-type">Escaping type</label>
        <select id="escape-type" class="form-control">
            <option th:each="esType : ${esTypes}" th:text="${esType.getCode()}">Escaping</option>
        </select>
    </div>
    <div class="form-group row mx-2 mx-sm-0">
        <label for="target-value">Result data</label>
        <textarea id="target-value" class="form-control"></textarea>
    </div>
    <div class="row mx-2 mx-sm-0">
        <div class="col-2"></div>
        <input id="escape-button" class="btn btn-primary form-control col-4 mx-2" type="button" value="Escape"/>
        <input id="unescape-button" class="btn btn-primary form-control col-4 mx-2" type="button" value="Unescape"/>
    </div>
</div>

<!-- footer -->
<div th:replace="main.html :: common_page_footer(~{::script})">
    <script th:inline="javascript">
        $(document).ready(function () {
            $("#escape-button").click(function () {
                escape();
            });
            $("#unescape-button").click(function () {
                unescape();
            });
        });

        function escape() {
            callServer("escape");
        }

        function unescape() {
            callServer("unescape")
        }

        function callServer(method) {
            $.get(
                '[(@{/api/convert/text/})]' + method,
                {
                    "source": $("#source-value").val(),
                    "type": $("#escape-type").val()
                },
                function (data) {
                    console.log("got it!", data);
                    var result = data.value;
                    $("#target-value").val(result);
                },
                'json'
            ).fail(function (data) {
                var result = data.responseJSON.message;
                alert('Failed to get response! ' + result);
            });
        }
    </script>
</div>

</body>
</html>